<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Book App</h1>

  <h2>
    This is the home page
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
