<% provide(:title, 'Circulation') %>
<% provide(:button_text, '本を借りる') %>
<% provide(:url, circulate_path) %>
<h1>貸出</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
